<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% load static %}

    <!-- Core Stylesheet -->
     <link rel="stylesheet" href="{% static 'account/style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    <!-- ##### Header area start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p style="font-size: 20px;">Welcome to <span>Online Service Provider</span> You are accessing as a <i><b><span>customer</span></i></b></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a style="font-size: 20px;" href="/account/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="#"><img src="{% static 'account/img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/account/profile">{{ user }}</a></li>
                                    <li><a href="/account/Editcustomer">Edit Account</a></li>
                                    {% if cart != "None" %}
                                        <li><a href="#">Cart</a>
                                            <ul class="dropdown" style="width: 300px;">
                                                {% for c in cartobjs %}
                                                    <li><a href="#">{{ c.provname }}</a></li>
                                                            
                                                {% endfor %}
                                                <li><a href="/account/finishcart">&nbsp Finish Cart &nbsp</a>
                                            
                                            </ul>
                                        </li>
                                    {% endif %}

                                    <li><a href="#">Orders</a>
                                        <ul class="dropdown" style="width: 200px;">
                                            <li><a href="/account/pending_order">Pending Orders | <font color="orange">{{ totalPending }}</font></a></li>
                                            <li><a href="/account/accepted_order">Accepted Orders | <font color="orange">{{ totalAccepted }}</font></a></li>
                                            <li><a href="/account/PastOrders">Past Orders | <font color="orange">{{ totalPast }}</font></a></li>
                                        </ul>
                                    </li>                            
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                        <div class="container form1">

        
    <center>

        <div class="w3-container" style="width:100%;">
          <div class="blog-section-heading mb-50">
                <h3>Past Orders - Delivered</h3>
         </div>

          <div class = "container" style="width:100%;height:2px;"></div>

          {% if totalreqs == "0" %}
                <a class="post-title">No Past Orders</a>
          
          {% else %}
          
            

            {% for order in orders %}
                <table class="w3-table-all">
                    <tr class="w3-hover-black">

                      <td style="font-size: 16px;"><b>Time of Order</b></td>
                      <td style="font-size: 16px;">{{ order.time_order }}</td>
                      
                    </tr>
                    <tr class="w3-hover-black">
                      <td style="font-size: 16px;"><b>Provider</b></td>
                      <td style="font-size: 16px;">{{ order.provname }}</td>
                      
                    </tr>
                    <tr class="w3-hover-black">
                      <td style="font-size: 16px;"><b>Service</b></td>
                      <td style="font-size: 16px;">{{ order.servname }}</td>
                      
                    </tr>
                    <tr class="w3-hover-black">
                      <td style="font-size: 16px;"><b>Cost</b></td>
                      <td style="font-size: 16px;">{{ order.cost }}</td>
                      
                    </tr>
                    <tr class="w3-hover-black">
                      <td style="font-size: 16px;"><b>You rated</b></td>
                      <td style="font-size: 16px;">{{ order.rate }}</td>
                      
                    </tr>

                    <tr class="w3-hover-black">
                      <td style="font-size: 16px;"><b>Feedback from you</b></td>
                      <td style="font-size: 16px;">{{ order.feedback }}</td>
                      
                    </tr>

                </table>
                <p>&nbsp</p>
            {% endfor %}

          {% endif %}
        </div>






    </center>


    <!--<div class="container form1">
        <div class="blog-section-heading mb-50">
                            <h3>Past Orders - Delivered</h3>
                        </div>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if totalreqs == "0" %}
                <a class="post-title">No Past Orders</a>
            {% endif %}
            {% for order in orders %}
                <p>Time of Order : {{ order.time_order }}</p>
                <p>Customer : {{ order.name }}</p>
                <p>Cost : {{ order.cost }}</p>
                <p></p>
                <p></p>
                <p></p>
                  {% endfor %}
        </form>
    </div>-->


    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="cryptos-blog-sidebar-area">
                        {% if trendlen != 0 %}
                        <!-- Section Heading -->
                        <div class="blog-section-heading mb-50">
                            <h3>Trending Services</h3>
                        </div>
                        
                            <!-- ONE RECOMMNDATION CATEGORY BEGINS HERE -->
                                <div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                                    <div class="blog-content">
                                        <div class="meta-data">
                                            <a style="font-size: 20px;">Service Providers with High Rating</a>
                                        </div>               
                                    </div>
                                </div>
                            <!-- LIST ALL SERVICES UNDER THIS RECOMMENDATION CATEGORY --> 
                            {% for o in trend %}
                                <div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="{{ o.url }}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="/account/searchDetail/{{ o.id }}" class="post-title">{{ o.provname }}</a>  
                                        <div class="meta-data">
                                            <a>{{ o.servname }}</a>
                                        </div>  
                                    </div>
                                     
                                </div>
                            {% endfor %}
                            <!--END OF SERVICE LIST UNDER THIS RECO CATEGORY-->
                            <!-- END OF THIS CATEGORY -->
                            
                        {% endif %}                 
                        
                    </div>
                </div>

            </div>
        </div>
    </div>






    <script src="{% static 'provhome/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'provhome/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'provhome/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'provhome/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'provhome/js/active.js' %}"></script>

</body>
</html>


