<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/StarRating.css' %}">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
	<link rel="icon" href="{% static 'account/img/core-img/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'account/style.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div id="preloader">
        <i class="circle-preloader"></i>
    </div>
	
    <!-- ##### Header Area Start ##### -->
<header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p style="font-size: 20px;">Welcome to <span>Online Service Provider</span> You are accessing as a <i><b><span>customer</span></i></b></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a style="font-size: 20px;" href="/account/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="#"><img src="{% static 'account/img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/account/profile">{{ user }}</a></li>
                                    <li><a href="/account/Editcustomer">Edit Account</a></li>
                                    {% if cart != "None" %}
                                        <li><a href="#">Cart</a>
                                            <ul class="dropdown" style="width: 300px;">
                                                {% for c in cartobjs %}
                                                    <li><a href="#">{{ c.provname }}</a></li>
                                                            
                                                {% endfor %}
                                                <li><a href="/account/finishcart">&nbsp Finish Cart &nbsp</a>
                                            
                                            </ul>
                                        </li>
                                    {% endif %}

                                    <li><a href="#">Orders</a>
                                        <ul class="dropdown" style="width: 200px;">
                                            <li><a href="/account/pending_order">Pending Orders | <font color="orange">{{ totalPending }}</font></a></li>
                                            <li><a href="/account/accepted_order">Accepted Orders | <font color="orange">{{ totalAccepted }}</font></a></li>
                                            <li><a href="/account/PastOrders">Past Orders | <font color="orange">{{ totalPast }}</font></a></li>
                                        </ul>
                                    </li>                            
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <section class="currency-calculator-area section-padding-100 bg-img" style="background-image: url({% static 'account/img/bg-img/star.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center white mx-auto">
                        <h3 class="mb-4">Order Confirmaion</h3>
                    </div>

                </div>
            </div>
            
        <center>
            <div class="limiter">
       
                <div class="wrap-login100">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <span class="login100-form-title p-b-26">
                            Please Rate
                            <br>
                            The Provider
                            <br>
                            -
                            <br>
                            {{ name }}
                            
                        </span>
                        
                        <p>Rating</p>
                        <x-star-rating value="3" number="5"></x-star-rating>
                        <input type="hidden" name="rate" id="rate">
                        

                        <div class="wrap-input100">
                            <textarea name="feedback" cols="25" rows="4" placeholder="Feedback"></textarea>
                        </div>


                        
                                <button onclick="getstarvalue()" type="submit" class="btn cryptos-btn">
                                    Submit
                                </button>
                    </form>
                </div>
        
            </div>
        </center>
    </section>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>
	
<!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'account/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'account/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'account/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'account/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'account/js/active.js' %}"></script>
    <!-- star rating js -->
    <script src="{% static 'account/js/StarRating.js' %}"></script>
    <script type="text/javascript">
        function getstarvalue(){
            let starval = document.querySelector('x-star-rating')
            console.log(starval.getAttribute('value'))
            document.getElementById("rate").value = starval.getAttribute('value')
        }
    </script>
</body>
</html>