<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% load static %}

    <!-- Favicon -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="{% static 'account/img/core-img/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'navmenu/../favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navmenu/css/default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'navmenu/css/component.css' %}" />
    <script src="{% static 'navmenu/js/modernizr.custom.js' %}"></script>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'account/style.css' %}">

    <style type="text/css">
        .stardiv {
            position: relative;
            width: 150px;
            display: block;
            margin-left: 250px;
        } 
        .cornerstarimage {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            display: block;
        }
        img{
            max-width: 150px;
        }      
        .indent-1 {float: left;}
        .indent-1 section {width: 50%; float: left;}
        .mySlides {display:none;}          
    </style>

</head>

<body>
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

<header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p style="font-size: 20px;">Welcome to <span>Online Service Provider</span> You are accessing as a <i><b><span>customer</span></i></b></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a style="font-size: 20px;" href="/account/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="#"><img src="{% static 'account/img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/account/profile">{{ user }}</a></li>
                                    <li><a href="/account/Editcustomer">Edit Account</a></li>
                                    <li><a href="#">Orders</a>
                                        <ul class="dropdown">
                                            <li><a href="/account/pending_order">Pending Orders</a></li>
                                            <li><a href="/account/accepted_order">Accepted Orders</a></li>
                                        </ul>
                                    </li>                            
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div class="breadcumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <div class="breadcumb-text">
                        <h2>{{ servname }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb Thumb Area -->
        <div class="breadcumb-thumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-thumb">
                            <img src="{{ servimg }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>&nbsp</h1>

    <section class="indent-1">
        <!-- Section 1 --> 
        <section>
            <div>
                <img src="{{ val.provimg }}" style="margin-left: 250px;  max-width: 150px; max-height: 150px;">
                <h1 style="display: inline-block; margin-left: 250px; font-size: 30px; color: #16664e;">{{ val.provname }}
                </h1>
                <br>
                <p style="display: inline-block; margin-left: 250px; color: black; font-size: 20px;">{{ val.desc }}</p>
                <br>
                <p style=" margin-left: 250px; font-size: 20px;"><font color = "blue">Basic Cost | </font><font color="black">{{ val.cost }} BDT</font></p>
                <p style="display: inline-block; margin-left: 250px; color: #6f3f99; font-size: 20px; text-decoration: underline;">
                    {{ val.looking }}
                </p> 
                <br>
                {% if val.ratecount != 0 %}
                    <p style="display: inline-block; margin-left: 250px;  color: black; font-size: 20px;">Number of ratings: {{ val.ratecount }}</p>
                    <br>
                {% else %}    
                    <p style="display: inline-block; margin-left: 250px;  color: black; font-size: 20px;">{{ val.rating }}</p>
                    <br>
                {% endif %}
            </div>     
            {% if val.ratecount != 0 %}   
            <div class="stardiv">
                <div>
                <img src="{% static 'account/img/other/stars_blank.png' %}" alt="img">
                </div>
                <div class="cornerstarimage" style="width: {{ val.rating }}%;">
                <img src="{% static 'account/img/other/stars_full.png' %}" alt="">
                </div>
            <div>
            {% else %}
            <div class="stardiv">
                <div>
                <img src="{% static 'account/img/other/stars_blank.png' %}" alt="img">
                </div>
                <div class="cornerstarimage" style="width: 0%;">
                <img src="{% static 'account/img/other/stars_full.png' %}" alt="">
                </div>
            <div>             
            {% endif %}
        </section>

        <!-- Section 2 -->
        <section>
            {% if val.totalfeed == "+" %}
                <div class="container" style="margin-left: 400px;">
                    <div class="cryptos-blog-sidebar-area">

                        <!-- Section Heading -->
                        <div class="blog-section-heading mb-50">
                            <h3>Feedbacks</h3>
                        </div>
                        {% for f in val.feedback %}
                
                                   
                        <!-- Single Blog Area -->
                        <div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                            <!-- Thumbnail -->
                            <!--<div class="blog-thumbnail">
                                <img src="{% static 'account/img/default-user.png'%}" alt="">
                            </div> -->
                            <!-- Content -->
                            <div class="blog-content">
                                <a style="color: orange;" href="#" class="post-title">{{ f.custname }}</a>
                                <div class="meta-data">
                                    <a style="color: black;" href="#">{{ f.feedback }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 

                    </div>
                </div>
            {% endif %}
        </section>
    </section>

    <br>

    <a href="/account/addtocart" style="margin-left: 300px;" class="btn cryptos-btn">Add To Cart</a>

    <div>
    {% if val.totalimages != 0 %}

        <div class="w3-content w3-display-container">
            {% for im in val.images %}

                <img class="mySlides" src="{{ im }}" style="width:100%">

            {% endfor %}

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>

    {% endif %} 
        
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
        }
    </script>

    <script src="{% static 'account/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'account/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'account/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'account/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'account/js/active.js' %}"></script>
</body>

</html>