{% extends 'admins/base.html' %}
{% load static %}
{% block content %}

	<div id="preloader">
        <i class="circle-preloader"></i>
    </div>
	
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p style="font-size: 20px;">Welcome to <span>Online Service Provider</span> You are accessing as an admin.</p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a style="font-size: 20px;" href="/admins">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- ##### Header Area End ##### -->	
	
	<div class="limiter">
		<div class="container-login100"
                style=" background-image: url({% static 'admins/img/bg-img/251850.jpg' %}); 
                        background-repeat: no-repeat;
                        background-size: cover;">
			<div class="wrap-login100" style="width:600px;height:500px;">
				<form method="post" novalidate class="login100-form validate-form">
                    {% csrf_token %}
					<span class="login100-form-title p-b-26">
						Welcome
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container" style="color: red; font-size: 18px;">
			     	{% if valid == "False" %}
			     		Invalid Email/Password
			     	{% endif %}
			     	<p>&nbsp</p>
			     	</div>

					<center>
							<button type="submit" class="btn cryptos-btn">
								Login
							</button>
					</center>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>	
	

{% endblock %}
