{% extends 'admins/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<div id="preloader">
        <i class="circle-preloader"></i>
    </div>
	
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p style="font-size: 20px;" >Welcome to <span>Online Service Provider</span> You are accessing as an admin.</p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a style="font-size: 20px;" href="/admins/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="#"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/admins/profile">{{ user }}</a></li>
							        <li><a href="/admins/Addadmin">Add admins</a></li>
							        <li><a href="/admins/Editadmin">Edit Profile</a></li> 
                                    <li><a href="#">Deleted Users</a>
                                        <ul class="dropdown">
                                            <li><a href="/admins/delCust">Customers</a></li>
                                            <li><a href="/admins/delProv">Providers</a></li>
                                        </ul>
                                    </li>
                                                           
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section    class="cryptos-video-area section-padding-100-0 bg-img"
                style="background-image: url({% static 'admins/img/bg-img/adminbg.jpg' %}); background-style: cover;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <div class="container" style="background-color: white; border-radius: 25px; padding: 20px;">
                                <form method="post" enctype="multipart/form-data" novalidate >
                                    {% csrf_token %}
                                    <span class="login100-form-title p-b-26">
                                        Category
                                    </span>
                                    <h1></h1>
                                    <div class="wrap-input100 validate-input">
                                        <input class="input100" type="text" name="catname">
                                        <span class="focus-input100" data-placeholder="Category"></span>
                                    </div>

                                    <div class="wrap-input100">
                                        <textarea name="desc" cols="54" rows="5" placeholder="Description"></textarea>
                                    </div>

                                    <div class="wrap-input100">
                                        <input type="file" name="catImage">
                                    </div>

                                    <center>
                                        <button type="submit" class="cryptos-btn" style="width: 200px;">
                                            Add
                                        </button>
                                    </center>

                                </form>            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-area mb-100">
                        <div class="container" style="background-color: white; border-radius: 25px; padding: 20px;">
                                <form method="post" enctype="multipart/form-data" novalidate >
                                    {% csrf_token %}
                                    <span class="login100-form-title p-b-26">
                                        Service
                                    </span>
                                    <h1>&nbsp</h1>
                                    <p>&nbsp</p>

                                    <div class="wrap-input100 validate-input">
                                        <input class="input100" type="text" name="servname">
                                        <span class="focus-input100" data-placeholder="Service"></span>
                                    </div>
                                    <label>Choose Category &nbsp&nbsp&nbsp </label>
                                    {{ servform.catname }}

                                    <p></p>
                                    <div class="wrap-input100">
                                        <input type="file" name="servImage">
                                    </div>
                                    <center>
                                        <button type="submit" class="cryptos-btn" style="width: 200px;">
                                            Add
                                        </button>
                                    </center>

                                </form>            
                        </div> 
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% if totalreqs != 0 %}
    <p>&nbsp</p>
    <center>
        <div class="w3-container" style="width:70%;">
                
        <h3 style="font-size: 40px;" href="#">Provider Requests <font color="red">[{{ totalreqs }}]</font></h3>
        <p>&nbsp</p>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for prov in providers %}              
                    <table class="w3-table-all">
                        <tr class="w3-hover-black">
                          <td style="font-size: 16px;"><b>Name</b></td>
                          <td style="font-size: 16px;">{{ prov.name }}</td>
                          
                        </tr>
                        <tr class="w3-hover-black">
                          <td style="font-size: 16px;"><b>Email</b></td>
                          <td style="font-size: 16px;">{{ prov.email }}</td>
                          
                        </tr>
                        <tr class="w3-hover-black">
                          <td style="font-size: 16px;"><b>Phone</b></td>
                          <td style="font-size: 16px;">+880{{ prov.phone }}</td>
                          
                        </tr>
                        <tr class="w3-hover-black">
                          <td style="font-size: 16px;"><b>Category</b></td>
                          <td style="font-size: 16px;">{{ prov.category }}</td>
                          
                        </tr>
                        <tr>
                          <td style="font-size: 16px;"><b></b></td>
                          <td style="font-size: 16px;"><button type="submit" name="btn" class="cryptos-btn" 
                    style="vertical-align: center; width: 40px; height: 50px;" value="{{ prov.id }}">Details</button></td>
                          
                        </tr>
                    </table>
                    <p>&nbsp</p>
                {% endfor %}
            </form>

        </div>
    </center>
                                           
                        
                
                                        
    {% endif %}

{% endblock %}