<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
crossorigin=""></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% load static %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'provhome/img/core-img/favicon.ico' %}">
    <!-- Core Stylesheet -->
	 <link rel="stylesheet" href="{% static 'provhome/style.css' %}">

    <style type="text/css">
        .stardiv {
            position: relative;
            width: 150px;
            display: block;
            
        } 
        .cornerstarimage {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            display: block;
        }
        img{
            max-width: 150px;
        }            
    </style>
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    <!-- ##### Header area start ##### -->
 <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p><font size ="3">Welcome to <span>Online Service Provider.</span> You are accessing as a <span><i><b><font size ="3">Provider</font></b></i></span></font></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a href="/provider/logout"><font size ="3">Logout</font></a>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/provider/profile">Home</a></li>
                                    <li><a href="/provider/edit">Edit Profile</a>
                                    </li>
                                    <li><a href="/provider/editcost">Edit Service Details</a>
                                    </li>
                                    <li><a href="/provider/inbox">Inbox</a>
                                    </li>
                                    <li><a href="/provider/Processing">Accepted Orders</a>
                                    </li>
                                     <li><a href="/provider/PastOrders">Past Orders</a>
                                    </li>
                                    <li><a href="/provider/editDP">Edit Display Picture</a>
                                    </li>
                                    
                                    
                                </ul>


                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    <!-- ##### Header Area End ##### -->


<center>
	<div class="container">
		<h2 class="text-center">Accepted Orders - (Services)</h2>
		<form method="post" enctype="multipart/form-data" novalidate>
			{% csrf_token %}
			{% for order in orderservice %}

                <p><font size = "4"><b>Customer : </b>{{ order.custname }}</font></p>
                <p><font size = "4"><b>Service Requested : </b>{{ order.serv }}</font></p>
                <p><font size = "4"><b>Time of Order : </b>{{ order.time_order }}</font></p>
                <p><font size = "4"><b>Delivery Address : </b>{{ order.address }}</font></p>
                <p><font size = "4"><b>Cost Requested : </b>{{ order.cost }}</font></p>
                {% if order.custrating == "No rating Yet" %}
                <p><font size = "4"><b>Customer Rating : </b>{{ order.custrating }}</font></p>
                {% else %}
                <p style="display: inline;"><font size = "4"><b>Customer Rating :</b></font></p>
                <div class="stardiv">
                    <div>
                    <img src="{% static 'images/stars_blank.png' %}" alt="img">
                    </div>
                    <div class="cornerstarimage" style="width: {{ order.custrating }}%; height: 100%;">
                    <img src="{% static 'images/stars_full.png' %}" alt="">
                    </div>
                </div>
                {% endif %}
                <br>
                <!--
				<p>Customer : {{ order.custname }}</p>
				<p>Service Requested : {{ order.serv }}</p>
				<p>Cost Requested : {{ order.cost }}</p>
				<p>Customer Rating : {{ order.custrating }}</p>
                -->
				<div style="margin: 10px 10px 10px 10px; height: 500px; width: 800px;" id="map{{ order.id }}"></div>
				<a href="/provider/CompletedOrder" class="btn cryptos-btn btn-space" style="margin-right: 50px;">Completed</a>

				<a href= "/provider/CancelOrder" class="btn cryptos-btn btn-space" style="margin-right: 50px;">Cancel</a>

				<a href = "/provider/negotiate2" class="btn cryptos-btn btn-space" style="margin-right: 50px;">Send Message</a>

			{% endfor %}
		</form>
	</div>
</center>

<div class="container" style="width: 100%; height: 100px;"></div>

<script type="text/javascript">
    var obj = {{ ll|safe }};
    var i=1;
    for(var key in obj) {
            var myLatLng = {lat: obj[key][0], lng: obj[key][1]};
            
            console.log(obj[key][0]);
            console.log(obj[key][1]);
            console.log(obj[key]);
            /*
            var map = new google.maps.Map(document.getElementById('map'+key), {
              zoom: 12,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map
            });*/  
            var mapid = 'map'+key;          
            var map = L.map(mapid).setView([obj[key][0], obj[key][1]], 13);
            var marker = L.marker([obj[key][0], obj[key][1]]).addTo(map);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1Ijoic2lwMTYiLCJhIjoiY2p5OGQ5NnI1MDh3ZTNvdDF1d2xjMXJiZiJ9.PzHdvFM8jq5YI09xsShShA'
            }).addTo(map);  
        }
    
</script>


	<script src="{% static 'provhome/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'provhome/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'provhome/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'provhome/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'provhome/js/active.js' %}"></script>

</body>
</html>




