<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% load static %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'provhome/img/core-img/favicon.ico' %}">
    <!-- Core Stylesheet -->
	 <link rel="stylesheet" href="{% static 'provhome/style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    <!-- ##### Header area start ##### -->
 <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p><font size ="3">Welcome to <span>Online Service Provider.</span> You are accessing as a <span><i><b><font size ="3">Provider</font></b></i></span></font></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a href="/provider/logout"><font size ="3">Logout</font></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/provider/profile">Home</a></li>
                                    <li><a href="/provider/edit">Edit Profile</a>
                                    </li>
                                    <li><a href="/provider/editcost">Edit Service Details</a>
                                    </li>
                                    <li><a href="/provider/inbox">Inbox</a>
                                    </li>
                                    <li><a href="/provider/Processing">Accepted Orders</a>
                                    </li>
                                    </li>
                                    <li><a href="/provider/PastOrders">Past Orders</a>
                                    </li>
                                    <li><a href="/provider/editDP">Edit Display Picture</a>
                                    </li>
                                    
                                </ul>


                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>



	<p></p>
    <h2 class="text-center">Your Current Display Picture</h2>

            <center>
            
            <p></p>
            <div class="container" style="width:100%;height:20px"></div>
                <img src= "{{ photo }}" style="max-width: 250px;max-height: 250px;">
            <div class="container" style="width:100%;height:50px"></div>
            <p><b><font size="4">Choose new Profile Picture</font></b></p>

                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="file" name="dp">
                            <div class="container" style="width:100%;height:50px"></div>
            <button type="submit" name="btn" class="btn cryptos-btn btn-space">Change</button>
                           
                        </form> 
                 
        </center>

         <div class="container" style="width:100%;height:50px"></div>
           

	


	<script src="{% static 'provhome/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'provhome/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'provhome/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'provhome/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'provhome/js/active.js' %}"></script>

</body>
</html>

