<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% load static %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'provhome/img/core-img/favicon.ico' %}">
    <!-- Core Stylesheet -->
	 <link rel="stylesheet" href="{% static 'provhome/style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    <!-- ##### Header area start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p><font size ="4">Welcome to <span>Online Service Provider.</span> You are accessing as a <span><i><b><font size ="5">Provider</font></b></i></span></font></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a href="/provider/logout"><font size ="4">Logout</font></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <center>
        <h1>&nbsp</h1>
        <h3>Welcome <span style="color: blue;">{{ user }}</span></h3>
        <h3>Please Update Service Information</h3>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for s in val %}
                <div class="container" style=" border: 2px solid; border-radius: 12px; padding: 20px;">


                    <h5 style="color: blue;">{{ s.servname }}</h5>
                    {{ s.cost }}
                    <p></p>
                    <p></p>
                    {{ s.desc }}
                    <p></p>
                    <p></p>
                    {{ s.form.spImage }}
                    <p></p>
                    <p></p>
                    <button type="submit" class="btn cryptos-btn" >Add</button>
                </div>            
            {% endfor %}
            <a href="/provider/profile" class="btn cryptos-btn" >Done</a>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
        </form>
    </center>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'provhome/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'provhome/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'provhome/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'provhome/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'provhome/js/active.js' %}"></script>
</body>

</html>